# Rewrite

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /knockoffjs/index.html [QSA,L]

# Compression

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript

# Caching

FileETag MTime Size

Header set Cache-Control "max-age=0, must-revalidate"